<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WYPy - West Yorkshire Python User Group</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <style>
        .previous-meetings .year {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0;
        }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">WYPy - West Yorkshire Python User Group</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">

                <div class="col-md-9">
                    <h1>{{ meeting["title"] }}</h1>
                    {{ meeting["body"]|safe }}
                </div>

                <div class="col-md-3">

                    <div class="future-meetings">
                        <h2>Coming up</h2>
                        {% if future %}
                            <p><a href="{{ future[0]['date'].strftime('%Y-%m') }}">{{ future[0]["date"] }} - {{ future[0]["title"] }}</a></p>
                        {% else %}
                            <p>Nothing scheduled yet. Please check back soon.</p>
                        {% endif %}
                    </div>

                    <div class="previous-meetings">
                        <h3>Previous meetings</h3>
                        <ol class="list-unstyled">
                            {% for group in previous|groupby("date.year")|reverse %}
                            <li>
                                <p class="year">{{ group.grouper }}</p>
                                <ol class="list-unstyled list-inline">
                                    {% for m in group.list %}
                                    <li><a href="{{ m['date'].strftime('%Y-%m') }}">{{ m["date"] }}</a></li>
                                    {% endfor %}
                                </ol>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>
